body{
    font-family: sans-serif;
}

nav{
    background-color: #717171;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul,li{
    display: inline-block;
    padding-right: 10px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: deepskyblue;
}

p{
    color: #717171;
}

h1{
   color: deepskyblue;
}

h3{
   color: darkslategray;
}


.heroImage{
    background-image: url('images/plane.jpg');
    height: 200px;
    background-position: 50% 26%;
    background-size: cover;
    background-repeat: no-repeat;
}
